{% extends 'master.html' %}

{% block title %}Ajout de relance{% endblock title %}

{% block content %}
    
    <section class="home-section user-section">

        <div class="user-section-wrapper">
        <div class="card">
            <form action="{% url 'mytrack:add_charge_virale' %}" method="post" class="form-add-relance">
                {% csrf_token %}

                <div class="form-group">
                    <label for="cv_date">Date de relance</label>
                    <input type="date" name="cv_date" id="cv_date" class="form-control" placeholder="Date de relance" value="YYYY-MM-DD">
                    <span class="form-error relance_date-error"></span>
                </div>

                 <div class="form-group">
                    <label for="patient_code">Code patient</label>
                    <input type="text" name="patient_code" id="patient_code" class="form-control" placeholder="XXXX/XX/XX/XXXX">
                    <span class="form-error patient_code-error"></span>
                </div>

                 <div class="form-group">
                    <label for="charge_virale">Résultat de l'examen</label>
                    <input type="number" name="charge_virale" id="charge_virale" class="form-control" placeholder="entrez le nombre de copies en chiffre">
                    <span class="form-error patient_comment-error"></span>
                </div>

                <div class="form-group">
                    <label for="charge_comment">Commentaire</label>
                    <textarea name="charge_comment" id="charge_comment" placeholder="Commentaire" class="form-control"></textarea>
                    <span class="form-error relance_comment-error"></span>
                </div>
                <button type="submit" class="button button-gradient"><i class="flaticon-floppy-disk"></i> Enregistrer</button>

            </form>
        </div>

        </div>
    </section>

{% endblock content %}