{% extends 'master.html' %}

{% block title %}Index Testing{% endblock title %}

{% block content %}
    
    <section class="home-section user-section">

        <div class='section-block'>
            <a href="{% url 'mytrack:ajout_contact' %}" class="button button-gradient add-user"><i class="flaticon-plus-1"></i> Ajouter un contact</a>
        </div>
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code patient</th>
                        {% comment %} <th>Numéro patient</th> {% endcomment %}
                        <th>contact_code</th>
                        <th>Type Contact</th>
                        <th>Sexe Contact</th>
                        <th>Date de Naissance</th>
                        <th>Statut Identification</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if index.count == 0 %}
                        <tr>
                            <td style="text-align:center">
                                Aucun contact n'est enregistré
                            </td>
                        </tr>
                    {% else %}
                    {% for index in index %}
                    <tr>   

                        <td>{{ index.patient_code }}</td>

                        {% comment %} <td>{{ index.patient_contact }}</td> {% endcomment %}

                        <td>{{ index.contact_code | upper }}</td>

                        <td>{{ index.type_contact | upper }}</td>

                        <td>{{ index.sexe_contact | upper }}</td>

                        <td>{{ index.date_naissance | upper }}</td>

                        <td>{{ index.statut_identification | upper }}</td>

                
                        <td class="action">

                            <form action="" method="POST">
                                {% csrf_token %}
                             {% comment %}   <input type="hidden" name="index_code" value="{{ index.index_code }}">
                                <a data-archive-index href="{% url 'mytrack:archive_index' index_code=index.index_code %}" class="button button-small button-ouline-dark"><i class="flaticon-file-1"></i></a> 
                                <a data-edit-index href="{% url 'mytrack:edit_index' index_code=index.index_code %}" class="button button-small button-ouline-success"><i class="flaticon-edit"></i></a>
                                <a data-delete-index href="" class="button button-small button-ouline-danger"><i class="flaticon-trash"></i></a> {% endcomment %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock content %}
